.footer {
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent footer */
  padding: 20px 0;
  text-align: center;
  color: #ccc; /* Lighter text color for footer */
  font-size: 0.9rem;
  box-shadow: 0 -2px 4px rgba(0,0,0,0.1);
}

.footer-container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 24px;
}

.footer-text {
  margin: 0;
}